.page {
    width: 100vw;
    min-height: 100vh;
    background-color: #F4F4F4;
}

.header {
    background: #fff;
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.content {
    padding: 20px;
}

.nav {
    display: flex;
    flex: 1;
}

.item {
    margin: 0 5px;
}

.item a {
    display: flex;
    border-radius: 12px;
    background-color: #E28363;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 10px;
}

.item a:hover {
    background-color: #F09677;
}

.actions {
    justify-content: right;
    flex: 1;
}

.logout {
    background-color: #EEEEEE;
    border-radius: 12px;
    align-items: center;
    color: #292929;
    padding: 10px;
    display: flex;
    width: 50px;
    margin-left: auto;
    margin-right: 10px;
    cursor: pointer;
    justify-content: center;
}
